* {box-sizing:border-box !important; -webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; font-family: 'Montserrat', sans-serif; color:#000;}
html, body {
    height:100vh;
    overflow: visible;
}

body {line-height:1; margin:0; padding:0; width:100%; height:100%; position:relative; -moz-background-size:cover; background-size:cover; overflow:hidden; }
body.sex {background-image:url('../assets/pictures/bg_04.jpg'); -moz-background-size:cover; background-size:cover;}
body.wedding {background-image:url('../assets/pictures/lpg2_2.jpg'); -moz-background-size:cover; background-size:cover;}

form {
    overflow: visible;
}

.height_full {
    min-height:100%;
    clear: both;
    overflow: visible;
}

.cb {clear:both;}
.fr {float:right;}
.fl {float:left;}

.fbold {font-weight: bold;}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mt10 {margin-top: 10px;}

/*list*/
.reset,
.reset > li {
    list-style:none;
    padding:0;
    margin:0;
}

.lifl > li {float:left;}
.lifr > li {float:right;}
.lifn > li {float:none;}

.logo_lp {width: 251px; height: 48px;}
.logo_rambler {width: 300px; height: 35px;}
.logo-small {width: 39px; height: 33px; vertical-align: bottom; margin: 0 15px 0 0 !important;}
.parner_hostname {font-size: 30px; line-height: 33px; color:#245489;}

h3 {text-align:center; font-size:24px; font-weight:700;}

.step {
    max-width:700px;
    width: 100%;
    border-radius:20px;
    background:rgba(255,255,255,0.9);
    box-shadow:0 0 0 10px rgba(0,0,0,0.2);
    padding:30px 60px 40px;
    margin:0 auto;
}

.answer {
    display:block;
    font-size:18px;
    max-width:300px;
    padding-left:45px;
    line-height:35px;
    margin: 10px auto;
    cursor:pointer;
    background:url('../assets/pictures/check.png') left -61px no-repeat;
}

.answer.checked {
    background-position:left 0;
}

.answer input {
    display:none;
}

.btn{
    display:block;
    margin:0 auto;
    width:230px;
    color:#fff;
    font-size:24px;
    height:60px;
    line-height:60px;
    text-align:center;
    border: 1px solid rgb(44, 171, 0);
    border-radius:5px;
    background-color:rgb(136,246,29);
    background-image:-moz-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    box-shadow:inset 0px 2px 0px 0px rgba(255, 255, 255, 0.75);
    text-decoration:none; opacity:0.8;
}

.btn-de{
    display:block;
    margin:0 auto;
    width:230px;
    color:#fff;
    font-size:24px;
    height:60px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align:center;
    border: 1px solid rgb(44, 171, 0);
    border-radius:5px;
    background-color:rgb(136,246,29);
    background-image:-moz-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    background-image:-webkit-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    background-image:-ms-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%);
    box-shadow:inset 0px 2px 0px 0px rgba(255, 255, 255, 0.75);
    text-decoration:none; opacity:0.8;
}

.btn:hover,
.btn-de:hover {
    opacity:1;
    text-decoration: none;
}

.btn:active,
.btn-de:active {
    opacity:1;
    background:rgb(136,246,29)
}

.ta_center {text-align:center;}
.finish {font-size:18px;}
.progressbar {width:100%; border-radius:10px; height:17px; border:1px solid rgb(128,128,128); background-color:rgb(192,192,192); position:relative; overflow:hidden; margin-top:10px;}

.progress {height:17px; border-right:1px solid rgb(44, 171, 0); position:relative; overflow:hidden; background:rgb(38,160,0); background-image:-moz-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%); background-image:-webkit-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%); background-image:-ms-linear-gradient( 90deg, rgb(38,160,0) 0%, rgb(136,246,29) 100%); box-shadow:inset 0px 2px 0px 0px rgba(255, 255, 255, 0.75); display:block;}

.finish .answer {
    margin: 10px auto;
    width:100%;
    cursor:default;
}

.firstfinish,.secondfinish,.thirdfinish {
    background:url("../assets/pictures/icos.png") no-repeat;
    line-height: 35px;
}

.firstfinish{
    background-position:0 top;
}

.secondfinish{
    background-position:-10px center;
}

.thirdfinish{background-position:0 bottom; height:36px; line-height:18px;}
.step img{margin-bottom:10px;}
.wantwomen{background:transparent url('../assets/pictures/women.png') 0 0 no-repeat; width:227px; height:287px; margin-bottom:10px;}
.wantmen{background:transparent url('../assets/pictures/men.png') 0 0 no-repeat; width:227px; height:287px; margin-bottom:10px;}
.sex .wantwomen{background-image:url('../assets/pictures/wantwomensex.png');}
.sex .wantmen{background-image:url('../assets/pictures/wantmensex.png');}

.inputblock{width:320px; margin:0 auto;}
.checkerror{color:red; display:none;}
.landinput{width:100%; padding:15px 17px 16px; border-radius:5px; border:1px solid #000; background:#fff;box-shadow:inset 0px 5px 5px 0px rgba(0, 0, 0, 0.2); height:52px; font-size:18px;}
.landinput:focus{outline:none;}
.landinput.error{color:red; border-color:red;}

.link_offer_box {font-size:14px; padding-top:26px;}

.blue_bm {color:#465160 !important;}

.footer_logo, .footer_age {background:url('../assets/pictures/valentines-heart.png') no-repeat;}
.footer-clr {height:50px; margin-top:40px;}
.footer {height:50px; color:#465160; font: normal 13px/20px; margin-top:-50px; background:#FFF;}
	.footer .wrap {width:100%; height:50px; margin:0 auto; padding-top:15px; overflow:hidden;}
.footer_logo {width:20px; height:20px; display:block; position:relative; top:-2px; margin-right:10px; background-size: 100%;}
.footer_age {width:30px; height:30px; position:relative; top:-4px; margin-left:20px; background-position:0 -157px;}

.footer_menu li {margin-left:20px;}
.footer_menu li:first-child {margin-left:0;}
.rambler-copy {display: inline-block; text-decoration:none; outline:none; margin-right: 20px;}
.rambler-copy:hover {border-bottom: solid 1px #000;}